.NearButton{
  width:8%;
  height:7%;
  color:white;
  cursor: pointer;
  background-color: #bea163;
  border-top-right-radius: 40%;
  border-bottom-right-radius: 40%;
  border-top-left-radius: 40%;
  border-bottom-left-radius: 40%;
  border:transparent;
  position:absolute;
  right:22%;
  top:2%;
}

.FindSearchBar{
  width:12%;
  height:3%;
  border:transparent;
  border-bottom: 1px solid white;
  color:white;
  position:absolute;
  background-color: transparent;
  right:9%;
  top:4%;
}

.submitButton{
  width:5%;
  height:4%;
  color:white;
  cursor: pointer;
  background-color: #bea163;
  border-top-right-radius: 20%;
  border-bottom-right-radius: 20%;
  border-top-left-radius: 20%;
  border-bottom-left-radius: 20%;
  border:transparent;
  position:absolute;
  right:2%;
  top:4%;
}

.FindSearchBar::placeholder{
  color:whitesmoke;
}

.inputModal{
  margin-bottom: 5%;
  width:50%;
  border-color: transparent;
  background-color: transparent;
  border-bottom: 1px solid rgb(0, 0, 0);
}

.closeButton{
  cursor:pointer;
  width:40px;
  height:30px;
  position:absolute;
  right:0%;
  top:0%;
  border: 1px solid #797979;
  border-radius: 0px 0px 0px 40px;
}

.ModalBG{
  position: absolute;
  top: 100px;
  /* left: 40px; */
  right: 430px;
  /* bottom: 20px; */
  width: 50%;
  height: 70%;
  display: flex;
  justify-content:center;
  align-items:center;
  border: 2px groove black;
  background-color: #2b6777;
}

.OverlayModal{
  border: 2px groove black;
  border-radius: 15%;
  width:100%;
  height:100%;
  display:flex;
  flex-direction:row;
  justify-content:center;
  align-items: center;
  background-color: rgb(255, 255, 255);
  flex-basis: 20%;
}
