.buttonContainer{
    width:30%;
    position:absolute;
    left:30%;
    top:4%;
    display:flex;
    justify-content: space-around;
}

.individualButton{
    width:fit-content;
    height:fit-content;
    background-color: transparent;
    border-radius: 10px;
    border:none;
    color:white;
    font-size:18px;
    font-weight:bold;
    cursor:pointer;
    outline:none;
}