.HotelsFeed{
    display:flex;
    justify-content:center;
    flex-direction: column;
    /* flex-wrap: wrap; */
    padding-top:50px;
    margin-top:50px;
    overflow: scroll;
    height:600px;
}

.loading{
    position:absolute;
    right:45%;
    top:25%
}

.gif{
    display:flex;
    justify-content: center;
    align-items: center;
}