.navBackground{
    background-color: rgba(19, 18, 18, 0.863);
    height:70px;
}

.headerStyle{
    color: white;
    font-size: 24px;
    font-weight: bold;
    display: flex;
    justify-self:flex-start;
    padding-left: 40px;
    padding-top:10px;
}